EffectiveRouteTable/outputs/logs/error/runtime/*
EffectiveRouteTable/outputs/logs/runtime/*
EffectiveRouteTable/outputs/routeTable/*
EffectiveRouteTable/outputs/hash/*
EffectiveRouteTable/outputs/diff/*
